body{
  padding: 0 .6rem;
  font-family: cursive;
  font-size: 1.6rem;
  font-weight:900;
  text-align: center;
  background-color: #bfbf77;

}
h1{
padding: 1rem 3rem .6rem;
font-size: 3rem;
font-weight: 900;
font-family: cursive;
}
.fluid-container{
  background-color:  #bfbf77;
  text-align: center;
}
img{
  margin-top: .7rem;
  width: 90px;
  height:90px;
}


footer{
  background-color: #bfbf77;
  text-align: center;
  padding: 2rem 1em 25rem 2rem;
  color: Black;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}

